.block-useful-links h3 {
    color: #0083be;
    font-size: 13px;
    font-weight: bold;
    padding-right: 20px;
    /*line-height: 16px;*/
    letter-spacing: normal;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 13px;
    display: inline-block;
    background: url(../images/header-arrow-down.png) 100% 20px no-repeat;
}

.block-useful-links .item-list ul {
    position: absolute;
    background: #fff;
    background: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    top: 46px;
    left: -15px;
    z-index: 200;
    margin: 0;
}

.block-useful-links .item-list ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.block-useful-links .item-list ul a {
    font-size: 15px;
    color: #6a3a86;
    line-height: 17px;
    margin-top: 10px;
    display: block;
}

.block-useful-links .item-list ul li.first a {
    margin-top: 0;
}

.block-useful-links .menu-item-wrapper {
    padding: 22px;
    float: left;
    width: 100px;
    border-left: 1px #e3e3e3 solid;
}

.block-useful-links .menu-item-wrapper:first-child {
    border-left: 0;
}

.block-useful-links .item-list ul li:first-child a {
    margin-top: 0;
}

.block-useful-links .item-list ul li a {
    line-height: 1.2em;
}

.block-useful-links .item-list ul li a:hover {
    color: #0083be !important;
}

.block-useful-links .item-list {
    width: 110px;
    position: relative;
}

.block-useful-links .item-list h2,
.block-useful-links .item-list h3 {
    cursor: pointer;
    margin-left: 0.5em;
}

.block-useful-links .item-list h2:hover,
.block-useful-links .item-list h3:hover {
    color: #9577a6;
}

.block-useful-links .item-list ul,
.useful-links-block-columns-value {
    display: none;
    margin-top: 12px;
    margin-left: 22px;
}

.block-useful-links .item-list:hover ul {
    display: block;
}
